@mixin base() {
    max-width: 100%;
    width: 100%;

    @media screen and (min-width: breakpoint(small)) {
        max-width: 268px;
    }
}

.willow-secondary-nav {
    @include base;
    margin-bottom: space(2);
}