@mixin base() {
    margin-bottom: space(2);

    @media screen and (min-width: breakpoint(small)) {
        @include make-grid-item(3);

        flex-grow: 0;
        flex-shrink: 0;
        // margin-right: space(1);

        &:last-child {
            // margin-right: 0;
        }
    }
}

&__item {
    @include base;
}