@mixin base() {

    @media screen and (min-width: breakpoint(medium)) {
        @include make-grid-item(4);
        padding-left: space(1);
        padding-right: space(1);


        @for $i from 1 through 12 {
            &--#{$i} {
                $width: #{$i}*(100%/12);

                flex-basis: $width;
                padding-left: space(2);
                padding-right: space(2);
                width: $width;

                &:first-of-type {
                    margin-left: space(-2);
                }

                &:last-of-type {
                    margin-right: space(-2);
                }
            }
        }
    }
}

&__item {
    @include base;
}