@mixin base() {
    background-color: #7F2725;
}

&__darkred {
    @include base;

    &--print {
        @include base;
        
        border-radius: 0rem;
        height: 10rem;
        width: 17rem;
    }

}