@mixin base() {
    background-color: #5F3A6C;
    border-radius: .2rem;
    height: 10rem;
    padding: 3rem;
    width: 37rem;
}

&--grape {
    @include base;

    &--darker {
        background-color: #4A2657;
        height: 5rem;
        width: 37rem;
    }

    &--darkest {
        background-color: #3B1947;
        height: 5rem;
        width: 37rem;
    }

    &--lighter {
        background-color: #BBA7C2;
        height: 5rem;
        width: 37rem;
    }

    &--lightest {
        background-color: #DED1E3;
        height: 5rem;
        width: 37rem;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
        height: 12rem;
        width: 27rem;
    }

}