@mixin base() {
    background-color: #5F3A6C;
}

&--grape {
    @include base;

    &-dark-4 {
        background-color: #043A4F;
    }

    &-dark-3 {
        background-color: #0F425A;
    }

    &-dark-2 {
        background-color: #184B66;
    }

    &-dark-1 {
        background-color: #215372;
    }

    &-light-1 {
        background-color: #AAC3D3;
        color: black;
    }

    &-light-2 {
        background-color: #BFD1DD;
        color: black;
    }

    &-light-3 {
        background-color: #D4E1E9;
        color: black;
    }

    &-light-4 {
        background-color: #e3edf3;
        color: black;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
        height: 12rem;
        width: 27rem;
    }

}