@mixin base() {
    background-color: #67A14C;
}

&__leaf {
    @include base;

    &--print {
        @include base;
        
        border-radius: 0rem;
        height: 10rem;
        width: 17rem;
    }

}