@mixin base() {
    background-color: #688465;
    border-radius: .2rem;
    height: 10rem;
    padding: 3rem;
    width: 37rem;
}

&__moss {
    @include base;

    &--print {
        @include base;
        
        border-radius: 0rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
        height: 12rem;
        width: 27rem;
    }

}