@mixin base() {
    background-color: #42AECA;
}

&--ocean {
    @include base;

    &-dark-4 {
        background-color: #0C647C;
    }

    &-dark-3 {
        background-color: #18718A;
    }

    &-dark-2 {
        background-color: #22809A;
    }

    &-dark-1 {
        background-color: #2B92AE;
    }

    &-light-1 {
        background-color: #4EBAD7;
    }

    &-light-2 {
        background-color: #7AC7E0;
    }

    &-light-3 {
        background-color: #A0D6EA;
    }

    &-light-4 {
        background-color: #C3E8F7;
    }

    &--print {
        @include base;
        
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }

    &--reverse {
        @include base;

        border-radius: 0.4rem;
    }

}