@mixin base() {
    
}


.shade {
    @include base;

    @import "asparagus";
    @import "charcoal";
    @import "darkred";
    @import "grape";
    @import "leaf";
    @import "mint";
    @import "moss";
    @import "ocean";
    @import "pewter";
    @import "pumpkin";
    @import "sand";
    @import "slate";
    @import "steel";
    @import "tangerine";
}