@mixin base() {
    background-color: #5C7182;
}

&--slate {
    @include base;
    
    &-dark-4 {
        background-color: #2A3E4F;
    }

    &-dark-3 {
        background-color: #304557;
    }

    &-dark-2 {
        background-color: #374C5E;
    }

    &-dark-1 {
        background-color: #3D5367;
    }

    &-light-1 {
        background-color: #ACBCC9;
    }

    &-light-2 {
        background-color: #BECAD4;
    }

    &-light-3 {
        background-color: #D2D9E1;
    }

    &-light-4 {
        background-color: #E7EAEE;
    }

    &--print {
        @include base;
        border-radius: 0.2rem;
        height: 10rem;
        width: 17rem;
    }
    
    &--reverse {
        @include base;
        border-radius: 0.4rem;
    }
}