@mixin base() {
    color: white;

    @media screen and (min-width: breakpoint(medium)) {
        display: flex;
        flex-wrap: wrap;
    }
}

.colors {
    @include base;

    @import "color";
    @import "base";
    @import "heading";
    @import "description";
    @import "swatch";
}