@mixin base() {
    margin-bottom: space(2);

    @media screen and (min-width: breakpoint(small)) {
        display: flex;
        justify-content: space-between; 
    }
}

.examples {
    @include base;

    @import "example";

    &__image{
        height: space(5);
    }

    &__icon {
        margin-left: space(1);
        margin-right: space(1);
    }

    &__label {
        margin-left: space(1);
        margin-right: space(1);
        max-width: 50px;
        white-space: inherit;
    }

    &__test {
        display: flex;
        flex-wrap: wrap;
    }
}