@mixin base() {

}

&__column {
    @include base;


    &--1 {
        @include base;

        grid-column: 1 / 13;

        @media screen and (min-width: 900px) {
            grid-column: 1 / span 3;
        }
    }

    &--2 {
        @include base;

        grid-column: 1 / 13;

        @media screen and (min-width: 900px) {
            grid-column: 4 / 13;
        }
    }
}