@mixin base() {
}

&__column {
    @for $i from 1 through 12 {
        &--#{$i} {
            @include base;

            @media screen and (min-width: breakpoint(large)) {
                // grid-column: span #{$i};
                $width: $i*(100%/12);
                flex-basis: $width;
                width: $width;
                flex-grow: 0;
                flex-shrink: 0;
                padding-left: space(1);
                padding-right: space(1);

                .willow-layout__row .willow-layout__row & {

                    &:first-child {
                        margin-left: space(-1);
                    }
                    
                    &:last-child {
                        margin-right: space(-1);
                    }
                }

                &:first-child {
                    // margin-left: space(-1);
                }
                
                &:last-child {
                    // margin-right: space(-1);
                }
            }
        }
    }
}