@mixin base() {
    flex-grow: 0;
    margin-right: space(2);
    
    &:last-child {
        margin-right: 0;
    }
}

@mixin columnWidth($colWidth) {
    flex-basis: calc(#{100/$colWidth}% - margin);

    //need to look at gutters and removing first child and last child margins
}

&__column {
    @include base;

    &--1 {
        @include columnWidth(12);
    }

    &--3 {
        @include columnWidth(10);
    }

    &--12 {
        @include columnWidth(1);
    }


    &--4 {
        @include base;

        flex-basis: 25%;
        flex-shrink: 0;
    }

    &--8 {
        @include base;

        flex-basis: 75%; 
        flex-shrink: 1;

    }
}