@mixin base() {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: space(3);
}

.layout {
    @include base;

    @import "column";
}