@mixin base() {
    max-width: 100%;
    width: 100%;

    @media screen and (min-width: breakpoint(small)) {
        max-width: 268px;
    }
}

.willow-secondary-nav {
    @include base;
}

.active {
    background-color: #ebeff3;
    border-left: 4px solid #a4cc44;
}

.fixed {
    position: fixed;
    top: 24px;
}