@mixin make-grid-item($max-columns, $gutters) {
    flex-basis: calc(100% - #{$gutters});

    @media screen and (min-width: breakpoint(small)) and (max-width: breakpoint(medium)) {
       flex-basis: calc((#{100 / ($max-columns - 2)})% - #{$gutters});
    }

    @media screen and (min-width: breakpoint(medium)) and (max-width: breakpoint(large)) {
       flex-basis: calc((#{100 / ($max-columns - 1)})% - #{$gutters});
    }

    @media screen and (min-width: breakpoint(large)) {
        flex-basis: calc((#{100 / $max-columns})% - #{$gutters});
    }
}

@mixin make-grid($max-columns: 4, $gutters: space(2)) {
    margin-bottom: space(2);

    @media screen and (min-width: breakpoint(small)) {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        @include make-grid-item($max-columns, $gutters);
    }
}