@mixin make-grid() {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: space(2);

    @media screen and (min-width: breakpoint(medium)) {
        display: flex;
    }
}

@mixin make-grid-item($column-span){
    $width: $column-span*(100%/12);
    @include base;

    flex-basis: $width;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: space(2);
    padding-right: space(2);
    width: $width;

    &:first-of-type {
        margin-left: space(-1);
    }

    &:last-of-type {
        margin-right: space(-1);
    }
}