@mixin base() {
    margin-bottom: space(2);
    flex-grow: 0; 
    flex-shrink: 0;
    flex-basis: 48%;
    max-width: 325px;
    min-width: 280px;

    @media screen and (min-width: breakpoint(small)) {
        justify-content: space-around;

    }

    @media screen and (min-width: breakpoint(medium)) {
 

    }


}

&__asset {
    @include base;
}