@mixin base() {
    margin-bottom: space(2);
    flex-basis: 100%;
    flex-shrink: 0;
    max-width: 350px;
    min-width: 280px;

    @media screen and (min-width: breakpoint(small)) {
        justify-content: space-around;
        flex-basis: 48%;
    }

}

&__asset {
    @include base;
}