@mixin base() {
    align-items: center;
    border: 1px solid $theme-action-3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    min-height: 130px;
    padding: space(2);
}

&__link {
    @include base;

    &--dark {
        @include base;

        background-color: #265B80;
    }

    &--light {
        @include base;

        background-color: #E0DDCE;
    }
}