@mixin base() {
    border: 1px solid #DEE5EB;
    border-radius: 3px;
    display: flex;
    padding: space(2);
    min-height: 130px;
    justify-content: center;
    align-items: center;
}

&__link {
    @include base;

    &--dark {
        @include base;

        background-color: #265B80;
    }

    &--light {
        @include base;

        background-color: #E0DDCE;
    }
}