@mixin base() {
    border: 1px solid #DEE5EB;
    border-radius: 3px;
    display: inline-block;
    padding: space(2);
}

&__link {
    @include base;

    &--dark {
        @include base;

        background-color: #265B80;
        border: none;
    }

    &--light {
        @include base;

        background-color: #E0DDCE;
        border: none;
    }
}