@mixin base() {
    $margin: space(2);
    
    flex-basis: calc(50% - #{$margin});
    flex-grow: 0;
    flex-shrink: 0;
    //margin-right: $margin;
    margin-bottom: $margin;

    @media screen and (min-width: breakpoint(small)) {
        flex-basis: calc(30% - #{$margin});
    }

    @media screen and (min-width: breakpoint(medium)) {
        flex-basis: calc(25% - #{$margin});
    }
}

&__sample {
    @include base;
}