@mixin base() {
    
    @media screen and (min-width: breakpoint(small)) {
        align-items: stretch;
        display: flex;
    }

    > :first-child {
        margin-left: auto;
    }

    > :last-child {
        margin-right: auto;
    }
}

.row {
    @include base;

    @import "column";
}