@import "../node_modules/@unumux/theme-coloniallife-default/styles";

@import "components/components";

li {
    list-style-type: none;
    margin: 0;
}

.steel {
    background-color: #265B80;
    border-radius: 1rem;
    height: 12rem;
    padding: 3rem;
    width: 27rem;
}

.dark-gray {
    background-color: #5B7183;
    border-radius: .5rem;
    height: 12rem;
    padding: 3rem;
    width: 27rem;
}

.light-gray {
    background-color: #8394A1;
    border-radius: .5rem;
    height: 12rem;
    padding: 3rem;
    width: 27rem;
}

.moss {
    background-color: #688465;
    border-radius: .5rem;
    height: 12rem;
    padding: 3rem;
    width: 27rem;
}

.happy-green {
    background-color: #67A14C;
    border-radius: .5rem;
    height: 12rem;
    padding: 3rem;
    width: 27rem;   
}

.sand {
    background-color: #E0DDCE;
    border-radius: .5rem;
    height: 12rem;
    padding: 3rem;
    width: 27rem;
}