@import "../node_modules/@unumux/theme-coloniallife-default/styles";

@import "mixins/mixins";
@import "components/components";

hr {
    background-color: #DEE5EB;
    border-style: none;
    height: 0.4rem;
}

.willow-page-header__content {

    @media screen and (max-width: breakpoint(medium)) {
        @include full-width;
        
        flex-basis: 100vw;
    }
}

.section__action {
    .willow-button {
        width: 100%;

        @media screen and  (min-width: breakpoint(small)) {
            width: initial;
        }
    }
}